{
  "openapi": "3.0.1",
  "info": {
    "title": "Chart API",
    "description": "Chart Tax API offers real-time collection of verified federal and state tax records.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.trychart.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/records": {
      "get": {
        "description": "Returns all tax records associated with an `access_token`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Records Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Record"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/records/{id}": {
      "get": {
        "description": "List details about a given tax record.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "description": "Exchange authorization code for access token.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": { "type": "string" },
                  "client_secret": { "type": "string" },
                  "code": { "type": "string" },
                  "redirect_uri": {
                    "type": "string",
                    "description": "redirect_uri is optional for the embedded SDK flow."
                  }
                },
                "required": ["client_id", "client_secret", "code"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "taxpayer_id": { "type": "string" },
                    "provider_id": {
                      "type": "string",
                      "enum": [
                        "turbotax",
                        "hr",
                        "taxact",
                        "tax_slayer",
                        "jackson",
                        "free_tax_usa",
                        "irs",
                        "irs_tax_pro",
                        "pilot",
                        "cch_axcess",
                        "drake",
                        "proconnect",
                        "chart-sandbox"
                      ]
                    },
                    "access_token": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": []
      }
    },
    "/auth/tax-payer/{id}/token": {
      "get": {
        "description": "Get the access token for a taxpayer.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Chart UUID of the taxpayer."
            }
          },
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          }
        ],
        "security": [
          {
            "clientAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Access Token Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": { "type": "string" },
                    "taxpayer_id": { "type": "string" },
                    "name": { "type": "string" },
                    "metadata": { "type": "object" },
                    "provider_id": {
                      "type": "string",
                      "enum": [
                        "turbotax",
                        "hr",
                        "taxact",
                        "tax_slayer",
                        "jackson",
                        "free_tax_usa",
                        "irs",
                        "irs_tax_pro",
                        "pilot",
                        "cch_axcess",
                        "drake",
                        "proconnect",
                        "chart-sandbox"
                      ],
                      "example": "irs-tax-pro"
                    },
                    "created_at": { "type": "string", "format": "date-time" },
                    "status": {
                      "type": "string",
                      "enum": [
                        "CREATED",
                        "CONSENT_RECEIVED",
                        "TAX_AUTHORIZATION_SUBMITTED",
                        "AUTHORIZED",
                        "REJECTED",
                        "COMPLETED"
                      ],
                      "example": "TAX_AUTHORIZATION_SUBMITTED"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers": {
      "get": {
        "description": "Return details on all available tax record providers.",
        "responses": {
          "200": {
            "description": "Providers Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Provider"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          }
        ],
        "security": []
      }
    },
    "/introspect": {
      "get": {
        "description": "Read account information associated with an `access_token`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Introspect Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Introspection"
                }
              }
            }
          }
        }
      }
    },
    "/disconnect": {
      "post": {
        "description": "Disconnect one or more `access_token`s from your application.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnect Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disconnect"
                }
              }
            }
          }
        }
      }
    },
    "/providers/irs/f8821": {
      "post": {
        "description": "Submit an IRS 8821 form.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRS8821FormState"
              }
            }
          }
        },
        "security": [
          {
            "clientAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "IRS 8821 Form Submission Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorizationCode": {
                      "type": "string",
                      "example": "578453a7dc8f1fdcb237d96a98c6b5ef6282108c"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tax-payer": {
      "get": {
        "description": "Retrieve taxpayer information associated with an `access_token`.",
        "responses": {
          "200": {
            "description": "Introspect Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxpayerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tax-payer/{id}/refresh": {
      "post": {
        "description": "Refresh taxpayer data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Taxpaer Refresh Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxpayerRefreshResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tax-payer/{taxpayerId}/refresh/{jobId}": {
      "get": {
        "description": "Get the status of a refresh job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          },
          {
            "name": "taxpayerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Taxpayer Refresh Status Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxpayerRefreshStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/client-links": {
      "post": {
        "description": "Create a custom client link.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientLinkInput"
              }
            }
          }
        },
        "security": [
          {
            "clientAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "IRS 8821 Form Submission Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://dashboard.trychart.com/c/1234567890"
                    },
                    "id": {
                      "type": "string",
                      "example": "cm3tj5p2g000e674soxr2brbl"
                    }
                  },
                  "required": ["url", "id"]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TaxpayerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clxjfvx74000f11di1uq2u8xm",
            "description": "The Chart UUID of the taxpayer. Returned from the /auth/token endpoint."
          },
          "name": {
            "type": "string",
            "example": "Joe Doe"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata identifying external fields about the taxpayer."
          },
          "provider_id": {
            "type": "string",
            "enum": [
              "turbotax",
              "hr",
              "taxact",
              "tax_slayer",
              "jackson",
              "free_tax_usa",
              "irs",
              "irs_tax_pro",
              "pilot",
              "cch_axcess",
              "drake",
              "proconnect",
              "chart-sandbox"
            ],
            "example": "irs-tax-pro"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-06-17T20:40:03.965Z"
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "CONSENT_RECEIVED",
              "TAX_AUTHORIZATION_SUBMITTED",
              "AUTHORIZED",
              "REJECTED",
              "COMPLETED"
            ],
            "example": "TAX_AUTHORIZATION_SUBMITTED"
          },
          "analysis": {
            "$ref": "#/components/schemas/TaxpayerAnalysis",
            "description": "Aggregated analysis of the taxpayer's tax situation across all tax records."
          }
        },
        "required": ["id", "name", "provider_id", "created_at", "status"]
      },
      "TaxpayerRefreshResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "example": "job_12345"
          },
          "taxpayerId": {
            "type": "string",
            "example": "clxjfvx74000f11di1uq2u8xm"
          },
          "name": {
            "type": "string",
            "example": "Joe Doe"
          }
        },
        "required": ["jobId", "taxpayerId", "name"]
      },
      "TaxpayerRefreshStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["processing", "completed", "failed"]
          },
          "jobId": {
            "type": "string"
          },
          "taxpayerId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["status", "jobId", "taxpayerId", "name"]
      },
      "IRS56FormState": {
        "type": "object",
        "properties": {
          "identification": {
            "type": "object",
            "properties": {
              "taxpayer": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Name of person for whom you are acting (as shown on the tax return)"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Address of person for whom you are acting (number, street)"
                      },
                      "other": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "description": "City or town, state, and ZIP code"
                      },
                      "state": {
                        "type": "string",
                        "minLength": 1
                      },
                      "zip": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  },
                  "identificationNumber": {
                    "type": "string",
                    "pattern": "^\\d{9}$",
                    "description": "Identification number must be exactly 9 digits and numeric only"
                  },
                  "decedentSSN": {
                    "type": "string",
                    "pattern": "^\\d{9}$",
                    "description": "SSN must be exactly 9 digits and numeric only"
                  }
                },
                "required": ["name", "address"]
              },
              "fiduciary": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Fiduciary's name"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Fiduciary's address (number, street, and room)"
                      },
                      "other": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Fiduciary's city"
                      },
                      "state": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Fiduciary's state"
                      },
                      "zip": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Fiduciary's ZIP code"
                      }
                    }
                  }
                },
                "required": ["name", "address"]
              }
            },
            "required": ["taxpayer", "fiduciary"]
          },
          "authority": {
            "type": "object",
            "properties": {
              "1": {
                "type": "string",
                "enum": ["a", "b", "c", "d", "e", "f", "g"]
              },
              "1gDesc": {
                "type": "string"
              },
              "2a": {
                "type": "string"
              },
              "2b": {
                "type": "string"
              }
            }
          },
          "tax": {
            "type": "object",
            "properties": {
              "types": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Income",
                    "Gift",
                    "Estate",
                    "Generation-skipping Transfer",
                    "Employment",
                    "Excise",
                    "Other"
                  ]
                }
              },
              "typeDesc": {
                "type": "string"
              },
              "forms": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["a", "b", "c", "d", "e", "f", "g", "h"]
                }
              },
              "formDesc": {
                "type": "string"
              },
              "5": {
                "type": "string"
              }
            }
          },
          "proceedings": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "description": "Name of court (if other than a court proceeding, identify the type of proceeding and name of agency)"
              },
              "address": {
                "type": "object",
                "properties": {
                  "street": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Address of court"
                  },
                  "other": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string",
                    "minLength": 1,
                    "description": "City or town, state, and ZIP code"
                  },
                  "state": {
                    "type": "string",
                    "minLength": 1
                  },
                  "zip": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              },
              "date": {
                "type": "string",
                "minLength": 1,
                "description": "Date of proceeding"
              },
              "time": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Time of proceeding"
                  },
                  "amOrPm": {
                    "type": "string",
                    "enum": ["AM", "PM"]
                  }
                }
              },
              "initiationDate": {
                "type": "string",
                "minLength": 1,
                "description": "Date proceeding initiated"
              },
              "docketNumber": {
                "type": "string",
                "minLength": 1,
                "description": "Docket number"
              },
              "placeOfOtherProceedings": {
                "type": "string"
              }
            }
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRS8821FormState": {
        "type": "object",
        "properties": {
          "personalInfo": {
            "$ref": "#/components/schemas/PersonalInfoInput"
          },
          "businessInfo": {
            "$ref": "#/components/schemas/BusinessInfoInput"
          },
          "address": {
            "$ref": "#/components/schemas/AddressInput"
          },
          "signatureBase64": {
            "type": "string",
            "description": "Base64 encoded signature image. Only supply the base64 string, not the 'data:image/png;base64,' prefix."
          },
          "form56": {
            "$ref": "#/components/schemas/IRS56FormState",
            "description": "IRS Form 56 (https://www.irs.gov/pub/irs-pdf/f56.pdf). Only required if the signer of the form 8821 is the fiduciary and not the taxpayer."
          }
        },
        "required": ["personalInfo", "address", "signatureBase64"]
      },
      "Disconnect": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The Chart UUID assigned to this tax record.",
            "type": "string",
            "example": "clt0szoxp0001p82z45ufj6t4"
          },
          "name": {
            "description": "The account name retrieved from tax record provider.",
            "type": "string",
            "nullable": true,
            "example": "John Doe"
          },
          "tax_year": {
            "type": "string",
            "description": "The tax year of the record.",
            "example": "2022"
          },
          "provider_id": {
            "description": "The tax record provider associated with the access_token.",
            "type": "string",
            "enum": [
              "turbotax",
              "hr",
              "taxact",
              "tax_slayer",
              "jackson",
              "free_tax_usa",
              "irs",
              "irs_tax_pro",
              "pilot",
              "cch_axcess",
              "drake",
              "proconnect",
              "chart-sandbox"
            ],
            "example": "turbotax"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "The date of the submission in ISO 8601 format in UTC.",
            "example": "2024-02-26T21:33:49.428Z"
          },
          "raw_file": {
            "type": "string",
            "description": "A pre-signed URL pointing to the raw tax file retrieved from the provider. Returns a PDF file. The URL expires after 12 hours."
          },
          "forms": {
            "description": "The parsed tax form data associated with the tax record.",
            "type": "array",
            "items": {
              "anyOf": [
                { "$ref": "#/components/schemas/WAID" },
                { "$ref": "#/components/schemas/RECA" },
                { "$ref": "#/components/schemas/VENF" }
              ]
            }
          }
        }
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of the tax record provider used in Connect.",
            "type": "string",
            "example": "turbotax"
          },
          "display_name": {
            "description": "The display name of the tax record provider.",
            "type": "string",
            "example": "TurboTax"
          },
          "icon": {
            "description": "The url to the official icon of the tax record provider.",
            "type": "string",
            "example": "https://chart-providers.s3.us-west-1.amazonaws.com/turbotax_icon.png"
          },
          "logo": {
            "description": "The url to the official logo of the tax record provider.",
            "type": "string",
            "example": "https://chart-providers.s3.us-west-1.amazonaws.com/turbotax_logo.png"
          },
          "primary_color": {
            "description": "The hex code for the primary color of the tax record provider.",
            "type": "string",
            "example": "#236CFF"
          }
        }
      },
      "Introspection": {
        "type": "object",
        "properties": {
          "taxpayer_id": {
            "description": "The Chart UUID identifying the taxpayer for a specific submission.",
            "type": "string",
            "example": "clt0szoxp0001p82z45ufj6t4"
          },
          "client_id": {
            "description": "The client id of the application associated with the `access_token`.",
            "type": "string",
            "example": "23ca205dc62bbf3e3f940667020bbdcc"
          },
          "name": {
            "description": "The account name retrieved from tax record provider.",
            "type": "string",
            "nullable": true,
            "example": "John Doe"
          },
          "provider_id": {
            "description": "The tax record provider associated with the access_token.",
            "type": "string",
            "enum": [
              "turbotax",
              "hr",
              "taxact",
              "tax_slayer",
              "jackson",
              "free_tax_usa",
              "irs",
              "irs_tax_pro",
              "pilot",
              "cch_axcess",
              "drake",
              "proconnect",
              "chart-sandbox"
            ],
            "example": "turbotax"
          }
        }
      },
      "ClientLinkInput": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "description": "Custom metadata identifying external fields about the taxpayer. This is useful for keeping track of external information about the taxpayer such as user IDs from other systems."
          },
          "settings": {
            "type": "object",
            "properties": {
              "flowType": {
                "type": "string",
                "enum": [
                  "full",
                  "personal",
                  "business",
                  "irs-8821",
                  "irs-online-account",
                  "irs-8821-personal",
                  "irs-8821-business",
                  "irs-online-account-business",
                  "full-irs-online-account",
                  "full-irs-online-account-business",
                  "tax-prep"
                ]
              },
              "transcripts": {
                "type": "object",
                "properties": {
                  "ACTR": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\d{4}$",
                      "minLength": 4
                    }
                  },
                  "RECA": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\d{4}$",
                      "minLength": 4
                    }
                  },
                  "WAID": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\d{4}$",
                      "minLength": 4
                    }
                  },
                  "VENF": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\d{4}$",
                      "minLength": 4
                    }
                  },
                  "NOTICE": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\d{4}$",
                      "minLength": 4
                    }
                  }
                }
              },
              "prefillData": {
                "type": "object",
                "properties": {
                  "personalInfo": {
                    "$ref": "#/components/schemas/PersonalInfoInput"
                  },
                  "businessInfo": {
                    "$ref": "#/components/schemas/BusinessInfoInput"
                  },
                  "address": { "$ref": "#/components/schemas/AddressInput" }
                }
              }
            }
          }
        }
      },
      "PersonalInfoInput": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z][a-zA-Z\\s-]*$",
            "example": "John",
            "description": "Alpha string value with a limit of 50 characters. Only hyphens (-) and spaces are allowed as special characters."
          },
          "lastName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z][a-zA-Z\\s-]*$",
            "example": "Doe",
            "description": "Alpha string value with a limit of 50 characters. Only hyphens (-) and spaces are allowed as special characters."
          },
          "ssn": {
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "123456789",
            "description": "Full SSN of the taxpayer. Required for non-business form 8821 submissions."
          }
        },
        "required": ["firstName", "lastName"]
      },
      "BusinessInfoInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Test, Inc."
          },
          "taxId": {
            "type": "string",
            "description": "EIN or SSN of the taxpayer",
            "minLength": 9,
            "maxLength": 9,
            "example": "123456789"
          },
          "type": {
            "type": "string",
            "enum": [
              "S-Corporation",
              "C-Corporation",
              "Sole Proprietorship",
              "Partnerships"
            ]
          },
          "phone": {
            "type": "string",
            "pattern": "^[0-9]{10}$",
            "example": "1112223344"
          },
          "title": {
            "type": "string",
            "enum": [
              "Managing Member",
              "Partner",
              "Limited Partner",
              "Director",
              "Chief Accounting Officer",
              "Chief Executive Officer",
              "Chief Operating Officer",
              "Chief Financial Officer",
              "President",
              "Vice President",
              "Secretary",
              "Treasurer",
              "Assistant Treasurer",
              "Controller",
              "Owner",
              "Sole Proprietor",
              "Executor",
              "Beneficiary",
              "Trustee",
              "Administrator"
            ],
            "example": "Chief Executive Officer"
          }
        },
        "required": ["name", "taxId", "type", "phone", "title"]
      },
      "AddressInput": {
        "type": "object",
        "properties": {
          "street": {
            "type": "string",
            "minLength": 1,
            "example": "123 Main St"
          },
          "other": { "type": "string", "example": "Apt 1" },
          "city": {
            "type": "string",
            "minLength": 1,
            "example": "San Francisco"
          },
          "state": { "type": "string", "minLength": 1, "example": "CA" },
          "zip": { "type": "string", "minLength": 1, "example": "94101" }
        },
        "required": ["street", "city", "state", "zip"]
      },
      "TaxpayerAnalysis": {
        "type": "object",
        "properties": {
          "total_liabilities": {
            "type": "number",
            "example": "5000",
            "description": "The total tax liabilities of the taxpayer."
          }
        }
      },
      "VENF": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["VENF"], "example": "VENF" },
          "year": { "type": "string", "example": "2023" }
        }
      },
      "WAID": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["WAID"], "example": "WAID" },
          "year": { "type": "string", "example": "2023" },
          "ssn": { "type": "string", "example": "XXX-XX-1234" },
          "form_w2": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormW2"
            }
          },
          "form_w2g": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormW2G"
            }
          },
          "schedule_k1_1065": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduleK1_1065"
            }
          },
          "schedule_k1_1120s": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduleK1_1120S"
            }
          },
          "schedule_k1_1041": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduleK1_1041"
            }
          },
          "form_5498": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form5498IRA"
            }
          },
          "form_1042_s": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1042S"
            }
          },
          "form_1099_misc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1099MISC"
            }
          },
          "form_1099_int": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1099INT"
            }
          },
          "form_1099_g": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1099G"
            }
          },
          "form_1099_r": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1099R"
            }
          },
          "form_1099_div": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1099DIV"
            }
          },
          "form_1099_b": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1099B"
            }
          },
          "form_1099_nec": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1099NEC"
            }
          },
          "form_ssa_1099": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormSSA1099"
            }
          },
          "form_1098": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1098"
            }
          },
          "form_1098_t": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form1098T"
            }
          }
        },
        "required": ["type", "year", "ssn"]
      },
      "FormW2": {
        "type": "object",
        "properties": {
          "employer": {
            "type": "object",
            "properties": {
              "name": { "type": "string", "example": "META" },
              "address": { "type": "string", "example": "1 HAC" },
              "ein": {
                "type": "string",
                "example": "XXXXX2001"
              }
            }
          },
          "employee": {
            "type": "object",
            "properties": {
              "name": { "type": "string", "example": "JOHN SMIT" },
              "address": { "type": "string", "example": "123 WA" },
              "ssn": {
                "type": "string",
                "example": "XXX-XX-1234"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "wages_tips_other_compensation": {
            "type": "number",
            "example": 55738
          },
          "federal_income_tax_withheld": { "type": "number", "example": 5490 },
          "social_security_wages": { "type": "number", "example": 55738 },
          "social_security_tax_withheld": {
            "type": "number",
            "example": 3455
          },
          "medicare_wages_tips": { "type": "number", "example": 55738 },
          "medicare_tax_withheld": { "type": "number", "example": 808 },
          "social_security_tips": { "type": "number", "example": 0 },
          "allocated_tips": { "type": "number", "example": 0 },
          "dependent_care_benefits": { "type": "number", "example": 0 },
          "deferred_compensation": { "type": "number", "example": 0 },
          "nonqualified_plans": { "type": "number", "example": 0 },
          "code_q": {
            "type": "number",
            "example": 0
          },
          "code_w": {
            "type": "number",
            "example": 0
          },
          "code_y": {
            "type": "number",
            "example": 0
          },
          "code_z": {
            "type": "number",
            "example": 0
          },
          "code_r": {
            "type": "number",
            "example": 0
          },
          "code_s": {
            "type": "number",
            "example": 0
          },
          "code_t": {
            "type": "number",
            "example": 0
          },
          "code_v": {
            "type": "number",
            "example": 0
          },
          "code_aa": {
            "type": "number",
            "example": 0
          },
          "code_bb": {
            "type": "number",
            "example": 0
          },
          "code_dd": {
            "type": "number",
            "example": 2227
          },
          "code_ee": {
            "type": "number",
            "example": 0
          },
          "code_ff": {
            "type": "number",
            "example": 0
          },
          "code_gg": {
            "type": "number",
            "example": 0
          },
          "code_hh": {
            "type": "number",
            "example": 0.0
          },
          "third_party_sick_pay_indicator": {
            "type": "boolean",
            "example": false
          },
          "retirement_plan_indicator": {
            "type": "boolean",
            "example": false
          },
          "statutory_employee": {
            "type": "boolean",
            "example": false
          },
          "w2_whc_ssn_validation_code": {
            "type": "string",
            "example": "Correct SSN"
          }
        }
      },
      "FormW2G": {
        "type": "object",
        "properties": {
          "payer": {
            "type": "object",
            "properties": {
              "fin": { "type": "string" },
              "name": { "type": "string" },
              "address": { "type": "string" }
            }
          },
          "winner": {
            "type": "object",
            "properties": {
              "tin": { "type": "string" },
              "name": { "type": "string" },
              "address": { "type": "string" }
            }
          },
          "submission_type": { "type": "string" },
          "gross_winnings": { "type": "number" },
          "federal_income_tax_withheld": { "type": "number" },
          "type_of_wager": { "type": "string" },
          "date_won": { "type": "string", "format": "date" },
          "winnings_from_identical_wagers": { "type": "number" }
        }
      },
      "ScheduleK1_1065": {
        "type": "object",
        "properties": {
          "partnership": {
            "type": "object",
            "properties": {
              "ein": {
                "type": "string",
                "example": "123456789"
              },
              "name": {
                "type": "string",
                "example": "Test, Inc."
              },
              "address": {
                "type": "string",
                "example": "PO BOX 1234\nSEATTLE, WA 94111-0000"
              }
            }
          },
          "partner": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "123-45-6789"
              },
              "name": {
                "type": "string",
                "example": "JOHN SMIT"
              },
              "address": {
                "type": "string",
                "example": "123 HOME RESORT \nJOHN CITY, UT 1234-0000"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "partner_share_of_capital_beginning": {
            "type": "number",
            "example": 0.01
          },
          "partner_share_of_capital_end": {
            "type": "number",
            "example": 0.01
          },
          "ira_sep_keogh_indicator": {
            "type": "string",
            "example": "N/A"
          },
          "tax_period_beginning": {
            "type": "string",
            "example": "202301"
          },
          "tax_period_end": {
            "type": "string",
            "example": "202312"
          },
          "sch_k3": {
            "type": "string",
            "example": "Box is not checked"
          },
          "dividends": {
            "type": "number",
            "example": 0.0
          },
          "interest": {
            "type": "number",
            "example": 636
          },
          "royalties": {
            "type": "number",
            "example": 0.0
          },
          "ordinary_income_k1": {
            "type": "number",
            "example": 0.0
          },
          "real_estate": {
            "type": "number",
            "example": 0.0
          },
          "other_rental": {
            "type": "number",
            "example": 0.0
          },
          "total_guaranteed_payments": {
            "type": "number",
            "example": 0.0
          },
          "section_179_expenses": {
            "type": "number",
            "example": 0.0
          },
          "capital_gain_short": {
            "type": "number",
            "example": 0.0
          },
          "capital_gain_long": {
            "type": "number",
            "example": 0.0
          },
          "part_iii_other_income_loss": {
            "type": "number",
            "example": 0.0
          },
          "part_iii_other_deduction": {
            "type": "number",
            "example": 0.0
          },
          "nonrecourse_beginning": {
            "type": "number",
            "example": 0.0
          },
          "nonrecourse_end": {
            "type": "number",
            "example": 0.0
          },
          "qualified_nonrecourse_beginning": {
            "type": "number",
            "example": 0.0
          },
          "qualified_nonrecourse_end": {
            "type": "number",
            "example": 0.0
          },
          "recourse_beginning": {
            "type": "number",
            "example": 0.0
          },
          "recourse_end": {
            "type": "number",
            "example": 0.0
          },
          "dividend_equivalents": {
            "type": "number",
            "example": 0.0
          }
        }
      },
      "ScheduleK1_1120S": {
        "type": "object",
        "properties": {
          "corporation": {
            "type": "object",
            "properties": {
              "ein": {
                "type": "string",
                "example": "123456789"
              },
              "name": { "type": "string", "example": "TEST LLC" },
              "address": {
                "type": "string",
                "example": "1 MARKET ST\nSAN FRANCISCO, CA 80129-7382"
              }
            }
          },
          "shareholder": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "123-45-6789"
              },
              "name": { "type": "string", "example": "JOHN SMIT" },
              "address": {
                "type": "string",
                "example": "123 HOME\n SUN CITY, CA 91111-6623"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "dividends": { "type": "number", "example": 0.0 },
          "interest": { "type": "number", "example": 12022.0 },
          "royalties": { "type": "number", "example": 0.0 },
          "ordinary_income_k1": { "type": "number", "example": 250000.0 },
          "real_estate": { "type": "number", "example": 0.0 },
          "other_rental": { "type": "number", "example": 0.0 },
          "section_179_expenses": { "type": "number", "example": 14224.0 },
          "short_term_capital_gain": { "type": "number", "example": 0.0 },
          "long_term_capital_gain": { "type": "number", "example": 0.0 },
          "credits": { "type": "number", "example": 0.0 },
          "part_iii_other_income_loss": { "type": "number", "example": 0.0 },
          "part_iii_other_deduction": { "type": "number", "example": 0.0 },
          "credits_code_1": { "type": "string", "example": "Insignificant" },
          "credits_code_2": { "type": "string", "example": "Insignificant" },
          "shareholder_percentage_of_stock": {
            "type": "string",
            "example": "33.333%"
          },
          "beginning_tax_period": { "type": "string", "example": "202301" },
          "ending_tax_period": { "type": "string", "example": "202312" }
        }
      },
      "ScheduleK1_1041": {
        "type": "object",
        "properties": {
          "fiduciary": {
            "type": "object",
            "properties": {
              "ein": { "type": "string", "example": "123456789" },
              "name": { "type": "string", "example": "Test Fiduciary" },
              "address": {
                "type": "string",
                "example": "123 Fiduciary St\nCity, State 12345"
              }
            }
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "987-65-4321" },
              "name": { "type": "string", "example": "John Beneficiary" },
              "address": {
                "type": "string",
                "example": "456 Beneficiary Ave\nCity, State 67890"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "dividends": { "type": "number", "example": 1000.0 },
          "interest": { "type": "number", "example": 500.0 },
          "ordinary_business_income": { "type": "number", "example": 2000.0 },
          "short_term_capital_gain": { "type": "number", "example": 150.0 },
          "long_term_capital_gain": { "type": "number", "example": 300.0 },
          "net_rental_real_estate_income": {
            "type": "number",
            "example": 400.0
          },
          "other_rental_income": { "type": "number", "example": 250.0 },
          "other_information": { "type": "number", "example": 50.0 },
          "other_portfolio_and_non_business_income": {
            "type": "number",
            "example": 75.0
          },
          "other_information_codes": {
            "type": "array",
            "items": { "type": "string", "example": "Code1" }
          },
          "beginning_tax_period": { "type": "string", "example": "202301" },
          "ending_tax_period": { "type": "string", "example": "202312" }
        }
      },
      "Form5498IRA": {
        "type": "object",
        "properties": {
          "trustee": {
            "type": "object",
            "properties": {
              "fin": {
                "type": "string",
                "example": "123456789"
              },
              "name": {
                "type": "string",
                "example": "TEST CUSTODIAN"
              },
              "address": {
                "type": "string",
                "example": "1 MARKET ST\nSAN FRANCISCO, CA 80129-7382"
              }
            }
          },
          "participant": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "123-45-6789"
              },
              "name": {
                "type": "string",
                "example": "JOHN SMIT"
              },
              "address": {
                "type": "string",
                "example": "123 HOME\n SUN CITY, CA 91111-6623"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": {
            "type": "string",
            "example": "123435"
          },
          "ira_contributions": {
            "type": "number",
            "example": 0.0
          },
          "rollover_contributions": {
            "type": "number",
            "example": 0.0
          },
          "roth_conversion_amount": {
            "type": "number",
            "example": 0.0
          },
          "recharacterized_contributions": {
            "type": "number",
            "example": 0.0
          },
          "fair_market_value_of_account": {
            "type": "number",
            "example": 28988.0
          },
          "life_insurance_cost": {
            "type": "number",
            "example": 0.0
          },
          "sep_code": {
            "type": "boolean",
            "example": false
          },
          "ira_code": {
            "type": "boolean",
            "example": false
          },
          "simple_code": {
            "type": "boolean",
            "example": false
          },
          "roth_ira_code": {
            "type": "boolean",
            "example": true
          },
          "rmd_subsequent_year": {
            "type": "string",
            "example": "RMD box not checked"
          },
          "rmd_date": {
            "type": "string",
            "example": "00-00-0000"
          },
          "year": {
            "type": "string",
            "example": ""
          },
          "postponed_contribution_code": {
            "type": "string",
            "example": ""
          },
          "repayments_code": {
            "type": "string",
            "example": ""
          },
          "sep_contributions": {
            "type": "number",
            "example": 0.0
          },
          "simple_contributions": {
            "type": "number",
            "example": 0.0
          },
          "roth_ira_contributions": {
            "type": "number",
            "example": 6167.0
          },
          "required_minimum_distribution": {
            "type": "number",
            "example": 0.0
          },
          "postponed_contributions": {
            "type": "number",
            "example": 0.0
          },
          "fair_market_value_specified_assets": {
            "type": "number",
            "example": 0.0
          }
        }
      },
      "Form1042S": {
        "type": "object",
        "properties": {
          "withholding_agent": {
            "type": "object",
            "properties": {
              "ein": { "type": "string", "example": "XXXXX1234" },
              "name": { "type": "string", "example": "YALE" },
              "address": { "type": "string", "example": "P.O. B" }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "XXX-XX-1234" },
              "name": { "type": "string", "example": "JOHN SMIT" },
              "address": { "type": "string", "example": "1 ST" }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "withholding_agent_province_code": {
            "type": "string",
            "example": ""
          },
          "withholding_agent_country_code": { "type": "string", "example": "" },
          "unique_form_identifier": {
            "type": "string",
            "example": "0040000213"
          },
          "return_type": { "type": "string", "example": "Original" },
          "number_or_space": { "type": "string", "example": "" },
          "recipient_country_code": { "type": "string", "example": "" },
          "recipient_account_number": {
            "type": "string",
            "example": "XXXX1234"
          },
          "withholding_occurred_in_subsequent_year": {
            "type": "string",
            "example": "Box not checked no withholding in subsequent year"
          },
          "withholding_agent_ein_type": { "type": "string", "example": "EIN" },
          "pro_rata_basis_reporting": {
            "type": "string",
            "example": "Not Checked"
          },
          "income_code": {
            "type": "string",
            "example": "Scholarship or Fellowship Grants"
          },
          "recipient_foreign_tax_identifying_number": {
            "type": "string",
            "example": "XXXXXXX1234"
          },
          "gross_income": { "type": "number", "example": 10491.0 },
          "withholding_allowance": { "type": "number", "example": 0.0 },
          "net_income": { "type": "number", "example": 0.0 },
          "tax_rate_chapter_3": { "type": "number", "example": 14.0 },
          "exemption_code_chapter_3": { "type": "number", "example": 0.0 },
          "tax_rate_chapter_4": { "type": "number", "example": 0.0 },
          "exemption_code_chapter_4": {
            "type": "string",
            "example": "Excluded nonfinancial payment"
          },
          "us_federal_tax_withheld": { "type": "number", "example": 1469.0 },
          "overwithheld_tax_repaid_to_recipient": {
            "type": "number",
            "example": 0.0
          },
          "nqi_flow_through_entity_ein": { "type": "string", "example": "" },
          "nqi_flow_province_code": { "type": "string", "example": "" },
          "nqi_flow_country_code": { "type": "string", "example": "" },
          "nqi_flow_postal_code": { "type": "string", "example": "" },
          "nqi_flow_through_name": { "type": "string", "example": "" },
          "payer_tin": { "type": "string", "example": "" },
          "payer_name": { "type": "string", "example": "" },
          "state_income_tax_withheld": { "type": "number", "example": 0.0 },
          "withholding_by_other_agents": { "type": "number", "example": 0.0 },
          "payer_state_tax_no": { "type": "string", "example": "XXXXXX99-0" },
          "state_code": { "type": "string", "example": "CT" },
          "total_withholding_credit": { "type": "number", "example": 1469.0 },
          "tax_paid_by_withholding_agent": { "type": "number", "example": 0.0 },
          "chapter_3_or_chapter_4_indicator": {
            "type": "string",
            "example": "Form was filed Chapter 3"
          },
          "tax_not_deposited_under_escrow_procedure_checkbox": {
            "type": "string",
            "example": "Check box not checked"
          },
          "recipient_chapter_3_status_code": {
            "type": "string",
            "example": "Individual"
          },
          "recipient_chapter_4_status_code": {
            "type": "string",
            "example": ""
          },
          "recipient_giin": { "type": "string", "example": "" },
          "recipient_birthdate": { "type": "string", "example": "01-13-2000" },
          "primary_withholding_agent_name": { "type": "string", "example": "" },
          "primary_withholding_agent_ein": {
            "type": "string",
            "example": "000000000"
          },
          "intermediary_or_flow_through_entity_chapter_3_status_code": {
            "type": "string",
            "example": ""
          },
          "intermediary_or_flow_through_entity_chapter_4_status_code": {
            "type": "string",
            "example": ""
          },
          "intermediary_or_flow_through_entity_foreign_tax_id_number": {
            "type": "string",
            "example": ""
          },
          "intermediary_or_flow_through_entity_giin": {
            "type": "string",
            "example": ""
          },
          "withholding_agent_chapter_3_status_code": {
            "type": "string",
            "example": "Tax Exempt Organization (Section 501(c) entities)"
          },
          "withholding_agent_chapter_4_status_code": {
            "type": "string",
            "example": "Section 501(c) Entities"
          },
          "withholding_agent_foreign_taxpayer_id_number": {
            "type": "string",
            "example": ""
          },
          "withholding_agent_giin": { "type": "string", "example": "" },
          "payer_giin": { "type": "string", "example": "" },
          "lob_code": { "type": "string", "example": "" },
          "payer_chapter_3_status_code": { "type": "string", "example": "" },
          "payer_chapter_4_status_code": { "type": "string", "example": "" }
        }
      },
      "Form1099MISC": {
        "type": "object",
        "properties": {
          "payer": {
            "type": "object",
            "properties": {
              "fin": {
                "type": "string",
                "example": "464364776"
              },
              "name": {
                "type": "string",
                "example": "ROBINHOOD MARKETS INC. AS AGENT FOR\nROBINHOOD SECURITIES LLC"
              },
              "address": {
                "type": "string",
                "example": "85 WILLOW ROAD\nMENLO PARK, CA 94025-0000"
              }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "123-45-6789"
              },
              "name": {
                "type": "string",
                "example": "JOHN SMIT"
              },
              "address": {
                "type": "string",
                "example": "123 HOME\n SUN CITY, CA 91111-6623"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": {
            "type": "string",
            "example": "11063535390"
          },
          "tax_withheld": {
            "type": "number",
            "example": 0.0
          },
          "medical_payments": {
            "type": "number",
            "example": 0.0
          },
          "fishing_income": {
            "type": "number",
            "example": 0.0
          },
          "rents": {
            "type": "number",
            "example": 0.0
          },
          "royalties": {
            "type": "number",
            "example": 0.0
          },
          "other_income": {
            "type": "number",
            "example": 0.0
          },
          "substitute_payments_for_dividends": {
            "type": "number",
            "example": 403.0
          },
          "excess_golden_parachute": {
            "type": "number",
            "example": 0.0
          },
          "crop_insurance": {
            "type": "number",
            "example": 0.0
          },
          "attorney_fees": {
            "type": "number",
            "example": 0.0
          },
          "foreign_tax_paid": {
            "type": "number",
            "example": 0.0
          },
          "section_409a_deferrals": {
            "type": "number",
            "example": 0.0
          },
          "nonqualified_deferred_compensation": {
            "type": "number",
            "example": 0.0
          },
          "fish_purchased_for_resale": {
            "type": "number",
            "example": 0.0
          },
          "direct_sales_indicator": {
            "type": "boolean",
            "example": false
          },
          "fatca": {
            "type": "boolean",
            "example": false
          },
          "second_notice_indicator": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "Form1099INT": {
        "type": "object",
        "properties": {
          "payer": {
            "type": "object",
            "properties": {
              "fin": { "type": "string", "example": "XXXXX4085" },
              "name": { "type": "string", "example": "MERR" },
              "address": { "type": "string", "example": "1500 A" }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "XXX-XX-1234" },
              "name": { "type": "string", "example": "JOHN SMIT" },
              "address": { "type": "string", "example": "123 WA" }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": {
            "type": "string",
            "example": "XXXX1T23"
          },
          "interest_income": {
            "type": "number",
            "example": 3300.0
          },
          "tax_withheld": {
            "type": "number",
            "example": 0.0
          },
          "savings_bonds": {
            "type": "number",
            "example": 0.0
          },
          "investment_expense": {
            "type": "number",
            "example": 0.0
          },
          "interest_forfeiture": {
            "type": "number",
            "example": 0.0
          },
          "foreign_tax_paid": {
            "type": "number",
            "example": 0.0
          },
          "tax_exempt_interest": {
            "type": "number",
            "example": 0.0
          },
          "specified_private_activity_bond_interest": {
            "type": "number",
            "example": 0.0
          },
          "market_discount": {
            "type": "number",
            "example": 0.0
          },
          "bond_premium": {
            "type": "number",
            "example": 0.0
          },
          "bond_premium_on_tax_exempt_bond": {
            "type": "number",
            "example": 0.0
          },
          "bond_premium_on_treasury_obligation": {
            "type": "number",
            "example": 0.0
          },
          "second_notice_indicator": {
            "type": "string",
            "example": "No Second Notice"
          },
          "cusip": {
            "type": "string",
            "example": "037833100"
          },
          "fatca": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "Form1099G": {
        "type": "object",
        "properties": {
          "payer": {
            "type": "object",
            "properties": {
              "fin": {
                "type": "string",
                "example": "123456789"
              },
              "name": {
                "type": "string",
                "example": "CALIFORNIA STATE TAX COMMISSION"
              },
              "address": {
                "type": "string",
                "example": "1 MARKET ST\nSAN FRANCISCO, CA 80129-7382"
              }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "123-45-6789"
              },
              "name": {
                "type": "string",
                "example": "JOHN SMIT"
              },
              "address": {
                "type": "string",
                "example": "123 HOME\n SUN CITY, CA 91111-6623"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": {
            "type": "string",
            "example": "79737472012312022"
          },
          "rtaa_payments": {
            "type": "number",
            "example": 0.0
          },
          "tax_withheld": {
            "type": "number",
            "example": 0.0
          },
          "taxable_grants": {
            "type": "number",
            "example": 0.0
          },
          "unemployment_compensation": {
            "type": "number",
            "example": 0.0
          },
          "agricultural_subsidies": {
            "type": "number",
            "example": 0.0
          },
          "prior_year_refund": {
            "type": "number",
            "example": 3678.0
          },
          "market_gain_commodity_credit_corporation_loans": {
            "type": "number",
            "example": 0.0
          },
          "year_of_refund": {
            "type": "number",
            "example": 2022
          },
          "offset": {
            "type": "string",
            "example": "Not Refund, Credit, or Offset for Trade or Business"
          },
          "second_tin_notice": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "Form1099R": {
        "type": "object",
        "properties": {
          "payer": {
            "type": "object",
            "properties": {
              "fin": { "type": "string", "example": "123456789" },
              "name": { "type": "string", "example": "Payer Name" },
              "address": { "type": "string", "example": "Payer Address" }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "123-45-6789" },
              "name": { "type": "string", "example": "Recipient Name" },
              "address": { "type": "string", "example": "Recipient Address" }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": {
            "type": "string",
            "example": "Optional Account Number"
          },
          "distribution_codes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": { "type": "string", "example": "Distribution Value" },
                "code": { "type": "string", "example": "Distribution Code" }
              }
            }
          },
          "tax_amount_undetermined_code": {
            "type": "boolean",
            "example": false
          },
          "total_distribution_code": { "type": "boolean", "example": false },
          "first_year_roth_contribution": {
            "type": "string",
            "example": "First Year Roth Contribution"
          },
          "sep_indicator": { "type": "string", "example": "SEP Indicator" },
          "fatca": { "type": "boolean", "example": false },
          "date_of_payment_for_reportable_death_benefits": {
            "type": "string",
            "example": "Date of Payment"
          },
          "Tax Withheld": { "type": "number", "example": 0.0 },
          "total_employee_contributions": { "type": "number", "example": 0.0 },
          "unrealized_appreciation": { "type": "number", "example": 0.0 },
          "other_income": { "type": "number", "example": 0.0 },
          "gross_distribution": { "type": "number", "example": 0.0 },
          "taxable_amount": { "type": "number", "example": 0.0 },
          "eligible_capital_gains": { "type": "number", "example": 0.0 },
          "amount_to_irr": { "type": "number", "example": 0.0 }
        }
      },
      "Form1099DIV": {
        "type": "object",
        "properties": {
          "payer": {
            "type": "object",
            "properties": {
              "fin": { "type": "string", "example": "123456789" },
              "name": { "type": "string", "example": "Test, Inc." },
              "address": {
                "type": "string",
                "example": "1 WHITE HOUSE\nDALLAS, TX 12345-0000"
              }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "123-45-6789" },
              "name": { "type": "string", "example": "JOHN SMIT" },
              "address": {
                "type": "string",
                "example": "123 HOME\n SUN CITY, CA 91111-6623"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": {
            "type": "string",
            "example": "3TQ26707000000000001"
          },
          "tax_withheld": { "type": "number", "example": 0.0 },
          "capital_gains": { "type": "number", "example": 0.0 },
          "non_dividend_distribution": { "type": "number", "example": 0.0 },
          "cash_liquidation_distribution": { "type": "number", "example": 0.0 },
          "non_cash_liquidation_distribution": {
            "type": "number",
            "example": 0.0
          },
          "investment_expense": { "type": "number", "example": 0.0 },
          "ordinary_dividend": { "type": "number", "example": 29.0 },
          "collectibles_28_percent_gain": { "type": "number", "example": 0.0 },
          "unrecaptured_section_1250_gain": {
            "type": "number",
            "example": 0.0
          },
          "section_1202_gain": { "type": "number", "example": 0.0 },
          "foreign_tax_paid": { "type": "number", "example": 0.0 },
          "qualified_dividends": { "type": "number", "example": 29.0 },
          "section_199a_reit_dividends": { "type": "number", "example": 0.0 },
          "second_notice_indicator": {
            "type": "string",
            "example": "No Second Notice"
          },
          "fatca": { "type": "boolean", "example": false },
          "exempt_interest_dividends": { "type": "number", "example": 0.0 },
          "specified_private_activity_bond_interest_dividend": {
            "type": "number",
            "example": 0.0
          },
          "section_897_ordinary_dividends": {
            "type": "number",
            "example": 0.0
          },
          "section_897_capital_gain": { "type": "number", "example": 0.0 }
        }
      },
      "Form1099B": {
        "type": "object",
        "properties": {
          "payer": {
            "type": "object",
            "properties": {
              "fin": { "type": "string", "example": "123456789" },
              "name": {
                "type": "string",
                "example": "CHARLES SCHWAB & CO., INC."
              },
              "address": {
                "type": "string",
                "example": "9800 SCHWAB WAY\nLONE TREE, CO 80124-0000"
              }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "123-45-6789" },
              "name": { "type": "string", "example": "JOHN SMIT" },
              "address": {
                "type": "string",
                "example": "123 HOME\n SUN CITY, CA 91111-6623"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": { "type": "string", "example": "1242542353" },
          "date_sold_or_disposed": {
            "type": "string",
            "example": "10-11-2023"
          },
          "cusip": { "type": "string", "example": "123456789" },
          "gross_proceeds": { "type": "number", "example": 0.0 },
          "federal_income_tax_withheld": { "type": "number", "example": 0.0 },
          "proceeds": { "type": "number", "example": 0.0 },
          "aggregate_profit_loss": { "type": "number", "example": 0.0 },
          "realized_profit_loss": { "type": "number", "example": 0.0 },
          "unrealized_profit_loss_prior_year": {
            "type": "number",
            "example": 0.0
          },
          "unrealized_profit_loss_current_year": {
            "type": "number",
            "example": 0.0
          },
          "cost_basis": { "type": "number", "example": 0.0 },
          "wash_sale_loss_disallowed": { "type": "number", "example": 0.0 },
          "accrued_market_discount": { "type": "number", "example": 0.0 },
          "description": {
            "type": "string",
            "example": "50 SHARES ISHARES SHORT TREASURY"
          },
          "second_notice_indicator": {
            "type": "string",
            "example": "No Second Notice"
          },
          "date_acquired": { "type": "string", "example": "00-00-0000" },
          "noncovered_security_indicator": {
            "type": "string",
            "example": "Nothing checked"
          },
          "type_gain_loss": { "type": "string", "example": "Short-term" },
          "loss_not_allowed_indicator": { "type": "string", "example": "" },
          "fatca": { "type": "boolean", "example": false },
          "proceeds_from": { "type": "string", "example": "Box not checked" }
        }
      },
      "Form1099NEC": {
        "type": "object",
        "properties": {
          "issuer_provider": {
            "type": "object",
            "properties": {
              "fin": { "type": "string", "example": "123456789" },
              "name": { "type": "string", "example": "ISSUER NAME" },
              "address": {
                "type": "string",
                "example": "123 ISSUER ADDRESS\nCITY, STATE ZIP"
              }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "123-45-6789" },
              "name": { "type": "string", "example": "RECIPIENT NAME" },
              "address": {
                "type": "string",
                "example": "123 RECIPIENT ADDRESS\nCITY, STATE ZIP"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "second_notice_indicator": { "type": "boolean", "example": false },
          "federal_income_tax_withheld": { "type": "number", "example": 0.0 },
          "non_employee_compensation": { "type": "number", "example": 5000.0 },
          "direct_sales_indicator": { "type": "boolean", "example": false }
        }
      },
      "FormSSA1099": {
        "type": "object",
        "properties": {
          "payer": {
            "type": "object",
            "properties": {
              "fin": { "type": "string", "example": "123456789" },
              "name": { "type": "string", "example": "PAYER NAME" },
              "address": {
                "type": "string",
                "example": "123 PAYER ADDRESS\nCITY, STATE ZIP"
              }
            }
          },
          "payee": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "123-45-6789" },
              "name": { "type": "string", "example": "PAYEE NAME" },
              "address": {
                "type": "string",
                "example": "123 PAYEE ADDRESS\nCITY, STATE ZIP"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": { "type": "string", "example": "1234567890" },
          "pensions_and_annuities": { "type": "number", "example": 10000.0 },
          "tax_withheld": { "type": "number", "example": 1000.0 },
          "repayments": { "type": "number", "example": 500.0 },
          "workmans_compensation_offset": {
            "type": "number",
            "example": 200.0
          },
          "payments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "year": { "type": "string", "example": "2023" },
                "payment": { "type": "number", "example": 1200.0 }
              }
            }
          },
          "trust_fund_indicator": { "type": "string", "example": "A" },
          "SSA/RRB Payments": { "type": "string", "example": "5000.0" }
        }
      },
      "Form1098": {
        "type": "object",
        "properties": {
          "recipient_lender": {
            "type": "object",
            "properties": {
              "fin": { "type": "string", "example": "123456789" },
              "name": { "type": "string", "example": "TEST FSB" },
              "address": {
                "type": "string",
                "example": "1 MARKET ST\nSAN FRANCISCO, CA 80129-7382"
              }
            }
          },
          "payer_borrower": {
            "type": "object",
            "properties": {
              "ssn": { "type": "string", "example": "123-45-6789" },
              "name": { "type": "string", "example": "JOHN SMIT" },
              "address": {
                "type": "string",
                "example": "123 HOME\n SUN CITY, CA 91111-6623"
              }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": { "type": "string", "example": "MTG013534664" },
          "mortgage_interest_received": { "type": "number", "example": 694.0 },
          "points_paid_on_purchase": { "type": "number", "example": 0.0 },
          "refund_of_overpaid_interest": { "type": "number", "example": 0.0 },
          "mortgage_insurance_premiums": { "type": "number", "example": 0.0 },
          "outstanding_mortgage_principal": {
            "type": "number",
            "example": 200000.0
          },
          "mortgage_origination_date": {
            "type": "string",
            "example": "02-12-2018"
          },
          "address_of_property_securing_mortgage": {
            "type": "string",
            "example": "123 W 20th"
          },
          "other_information_from_recipient": {
            "type": "string",
            "example": "SAN FRANCISCO CA 94117"
          },
          "number_of_mortgaged_properties": { "type": "integer", "example": 0 },
          "mortgage_acquisition_date": {
            "type": "string",
            "example": "00-00-0000"
          }
        }
      },
      "Form1098T": {
        "type": "object",
        "properties": {
          "payer": {
            "type": "object",
            "properties": {
              "fin": { "type": "string", "example": "XXXXX1234" },
              "name": { "type": "string", "example": "YALE" },
              "address": { "type": "string", "example": "246 CH" }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "XXX-XX-1234" },
              "name": { "type": "string", "example": "SMIT JOHN" },
              "address": { "type": "string", "example": "1 ST" }
            }
          },
          "submission_type": {
            "type": "string",
            "example": "Original document"
          },
          "account_number": { "type": "string", "example": "XXXXXXXXXXXX1234" },
          "qualified_tuition_and_related_expenses": {
            "type": "number",
            "example": 0.0
          },
          "scholarships_grants": { "type": "number", "example": 38241.0 },
          "half_time_student_indicator": {
            "type": "string",
            "example": "Grtr than or Eq to Half Time Student"
          },
          "graduate_student_indicator": {
            "type": "string",
            "example": "Not a Graduate Student"
          },
          "academic_period_code": {
            "type": "string",
            "example": "Academic Period Box Not Checked"
          },
          "tin_checkbox": { "type": "boolean", "example": true },
          "adjustments_made_for_prior_year": {
            "type": "number",
            "example": 0.0
          },
          "adjustments_to_scholarships_or_grants_for_a_prior_year": {
            "type": "number",
            "example": 0.0
          },
          "reimbursements_refunds_from_an_insurance_contract": {
            "type": "number",
            "example": 0.0
          }
        }
      },
      "RECA": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/RECA_Individual"
          },
          {
            "$ref": "#/components/schemas/RECA_Business"
          }
        ]
      },
      "RECA_Individual": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["RECA"], "example": "RECA" },
          "year": { "type": "string", "example": "2023" },
          "form_number": { "type": "string" },
          "name": { "type": "string" },
          "address": { "type": "string" },
          "filing_status": {
            "type": "string",
            "enum": [
              "SINGLE",
              "MARRIED_FILING_JOINTLY",
              "MARRIED_FILING_SEPARATELY",
              "HEAD_OF_HOUSEHOLD",
              "QUALIFYING_WIDOW_ER"
            ]
          },
          "tin": { "type": "string" },
          "spouse_tin": { "type": "string" },
          "remittance": { "type": "number" },
          "ptin": { "type": "string" },
          "preparer_ein": { "type": "string" },
          "account_summary": {
            "$ref": "#/components/schemas/AccountSummaryModel"
          },
          "return_summary": {
            "$ref": "#/components/schemas/ReturnSummaryModel"
          },
          "transactions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TransactionModel" }
          },
          "dependents": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DependentModel" }
          },
          "original_return": {
            "type": "object",
            "properties": {
              "income": { "$ref": "#/components/schemas/IncomeModel" },
              "income_adjustments": {
                "$ref": "#/components/schemas/AdjustmentsToIncomeModel"
              },
              "tax_and_credits": {
                "$ref": "#/components/schemas/TaxAndCreditsModel"
              },
              "payments": {
                "$ref": "#/components/schemas/PaymentsModel"
              },
              "other_taxes": {
                "$ref": "#/components/schemas/OtherTaxesModel"
              },
              "sch_c": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ScheduleCModel" }
              },
              "sch_se": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ScheduleSEModel" }
              },
              "sch_a": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ScheduleAModel" }
              }
            },
            "required": [
              "income",
              "income_adjustments",
              "tax_and_credits",
              "payments",
              "other_taxes"
            ]
          }
        },
        "required": [
          "type",
          "year",
          "form_number",
          "name",
          "address",
          "filing_status",
          "tin",
          "account_summary",
          "return_summary",
          "transactions",
          "dependents",
          "original_return"
        ]
      },
      "RECA_Business": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["RECA"], "example": "RECA" },
          "year": { "type": "string", "example": "2023" },
          "name": { "type": "string" },
          "address": { "type": "string" },
          "form_number": { "type": "string" },
          "taxpayer_identification_number": { "type": "string" },
          "account_summary": {
            "$ref": "#/components/schemas/AccountSummaryModel"
          },
          "transactions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TransactionModel" }
          },
          "return_summary": {
            "$ref": "#/components/schemas/ReturnSummaryBusinessModel"
          }
        },
        "required": [
          "type",
          "year",
          "name",
          "address",
          "form_number",
          "taxpayer_identification_number",
          "account_summary"
        ]
      },
      "AccruedAmountModel": {
        "type": "object",
        "properties": {
          "amount": { "type": "number" },
          "as_of": { "type": "string" }
        },
        "required": ["amount", "as_of"]
      },
      "AccountSummaryModel": {
        "type": "object",
        "properties": {
          "account_balance": {
            "type": "number"
          },
          "accrued_interest": {
            "$ref": "#/components/schemas/AccruedAmountModel"
          },
          "accrued_penalty": {
            "$ref": "#/components/schemas/AccruedAmountModel"
          },
          "account_balance_plus_accruals": {
            "$ref": "#/components/schemas/AccruedAmountModel"
          },
          "exemptions": { "type": "integer" }
        },
        "required": ["account_balance", "accrued_interest", "accrued_penalty"]
      },
      "ReturnSummaryModel": {
        "type": "object",
        "properties": {
          "filing_status": {
            "type": "string",
            "enum": [
              "SINGLE",
              "MARRIED_FILING_JOINTLY",
              "MARRIED_FILING_SEPARATELY",
              "HEAD_OF_HOUSEHOLD",
              "QUALIFYING_WIDOW_ER"
            ]
          },
          "adjusted_gross_income": { "type": "number" },
          "taxable_income": { "type": "number" },
          "tax_per_return": { "type": "number" },
          "se_taxable_income_taxpayer": { "type": "number" },
          "se_taxable_income_spouse": { "type": "number" },
          "total_self_employment_tax": { "type": "number" },
          "return_due_received_date": { "type": "string" },
          "processing_date": { "type": "string" }
        },
        "required": ["filing_status", "adjusted_gross_income"]
      },
      "ReturnSummaryBusinessModel": {
        "type": "object",
        "properties": {
          "net_receipts": { "type": "number" },
          "total_income": { "type": "number" },
          "total_deductions": { "type": "number" },
          "net_taxable_income": { "type": "number" },
          "minimum_tax_amount": { "type": "number" },
          "estimated_tax_credits": { "type": "number" },
          "personal_holding_tax": { "type": "number" },
          "es_7004_payments_claimed": { "type": "number" },
          "tax_per_return": { "type": "number" },
          "naics": { "type": "string" },
          "return_due_received_date": { "type": "string" },
          "processing_date": { "type": "string" }
        }
      },
      "DependentModel": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "ssn": { "type": "string" }
        },
        "required": ["name", "ssn"]
      },
      "TransactionModel": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "explanation": { "type": "string" },
          "cycle": { "type": "string" },
          "date": { "type": "string" },
          "amount": { "type": "number" }
        },
        "required": ["code", "date"]
      },
      "IncomeModel": {
        "type": "object",
        "properties": {
          "total_wages": { "type": "number" },
          "w2_wages": { "type": "number" },
          "sch_b_taxable_interest_income": { "type": "number" },
          "tax_exempt_interest": { "type": "number" },
          "sch_b_ordinary_dividend_income": { "type": "number" },
          "qualified_dividends": { "type": "number" },
          "state_local_refunds": { "type": "number" },
          "alimony_received": { "type": "number" },
          "sch_c_business_income_or_loss": { "type": "number" },
          "sch_c_business_income_or_loss_per_computer": { "type": "number" },
          "sch_d_capital_gain_or_loss": { "type": "number" },
          "sch_d_capital_gain_or_loss_per_computer": { "type": "number" },
          "form4797_gains_or_losses": { "type": "number" },
          "total_ira_distributions": { "type": "number" },
          "taxable_ira_distributions": { "type": "number" },
          "total_pensions_and_annuities": { "type": "number" },
          "taxable_pension_annuity_amount": { "type": "number" },
          "additional_income": { "type": "number" },
          "additional_income_per_computer": { "type": "number" },
          "refundable_credits_per_computer": { "type": "number" },
          "refundable_education_credit_per_computer": { "type": "number" },
          "qualified_business_income_deduction": { "type": "number" },
          "sch_e_rent_royalty_partnership_estate": { "type": "number" },
          "sch_e_rent_royalty_partnership_estate_per_computer": {
            "type": "number"
          },
          "sch_e_rent_royalty_income_loss_per_computer": { "type": "number" },
          "estate_trust_income_loss_per_computer": { "type": "number" },
          "partnership_s_corp_income_loss_per_computer": { "type": "number" },
          "sch_f_farm_income_or_loss": { "type": "number" },
          "sch_f_farm_income_or_loss_per_computer": { "type": "number" },
          "unemployment_compensation": { "type": "number" },
          "total_social_security_benefits": { "type": "number" },
          "taxable_social_security_benefits": { "type": "number" },
          "taxable_social_security_benefits_per_computer": { "type": "number" },
          "other_income": { "type": "number" },
          "sch_eic_self_employment_income_per_computer": { "type": "number" },
          "sch_eic_earned_income_per_computer": { "type": "number" },
          "sch_eic_disqualified_income_per_computer": { "type": "number" },
          "excess_advance_child_tax_credit_per_computer": { "type": "number" },
          "primary_advanced_child_tax_credit_payments": { "type": "number" },
          "secondary_advanced_child_tax_credit_payments": { "type": "number" },
          "additional_child_tax_credit_earned_income": { "type": "number" },
          "eic_prior_year_earned_income": { "type": "number" },
          "ctc_prior_year_earned_income": { "type": "number" },
          "qualified_business_income_deduction_duplicate": { "type": "number" },
          "form8995_qualified_business_income_deduction_computer": {
            "type": "number"
          },
          "form8995_net_capital_gains_computer": { "type": "number" },
          "primary_economic_impact_payment": { "type": "number" },
          "secondary_economic_impact_payment": { "type": "number" },
          "scholarship_fellowship_grant": { "type": "number" },
          "total_income": { "type": "number" },
          "total_income_per_computer": { "type": "number" },
          "treaty_exempt_income": { "type": "number" },
          "total_eff_connected_income": { "type": "number" },
          "total_eff_connected_income_per_computer": { "type": "number" },
          "farm_income_loss_schedule_f": { "type": "number" },
          "farm_income_loss_schedule_f_per_computer": { "type": "number" }
        }
      },
      "AdjustmentsToIncomeModel": {
        "type": "object",
        "properties": {
          "educator_expenses": { "type": "number" },
          "educator_expenses_per_computer": { "type": "number" },
          "reservist_and_other_business_expense": { "type": "number" },
          "health_savings_account_deduction": { "type": "number" },
          "health_savings_account_deduction_per_computer": { "type": "number" },
          "moving_expenses_f3903": { "type": "number" },
          "self_employment_tax_deduction": { "type": "number" },
          "self_employment_tax_deduction_per_computer": { "type": "number" },
          "self_employment_tax_deduction_verified": { "type": "number" },
          "keogh_sep_contribution_deduction": { "type": "number" },
          "self_employment_health_insurance_deduction": { "type": "number" },
          "early_withdrawal_of_savings_penalty": { "type": "number" },
          "alimony_paid_ssn": { "type": "string" },
          "alimony_paid": { "type": "number" },
          "ira_deduction": { "type": "number" },
          "ira_deduction_per_computer": { "type": "number" },
          "student_loan_interest_deduction": { "type": "number" },
          "student_loan_interest_deduction_per_computer": { "type": "number" },
          "student_loan_interest_deduction_verified": { "type": "number" },
          "total_other_payment_refundable_credit_per_computer": {
            "type": "number"
          },
          "total_other_payment_refund_verified": { "type": "number" },
          "other_adjustments": { "type": "number" },
          "archer_msa_deduction": { "type": "number" },
          "archer_msa_deduction_per_computer": { "type": "number" },
          "domestic_production_activities_deduction": { "type": "number" },
          "total_adjustments": { "type": "number" },
          "total_adjustments_per_computer": { "type": "number" },
          "adjusted_gross_income": { "type": "number" },
          "adjusted_gross_income_per_computer": { "type": "number" },
          "qualified_business_income_deduction": { "type": "number" },
          "f8995_qualified_business_income_deduction_computer": {
            "type": "number"
          },
          "primary_economic_impact_payment": { "type": "number" },
          "secondary_economic_impact_payment": { "type": "number" },
          "scholarship_fellowship_grant": { "type": "number" },
          "scholarship_fellowship_excluded": { "type": "number" }
        }
      },
      "TaxAndCreditsModel": {
        "type": "object",
        "properties": {
          "over_65": { "type": "boolean" },
          "blind": { "type": "boolean" },
          "spouse_over_65": { "type": "boolean" },
          "spouse_blind": { "type": "boolean" },
          "standard_deduction_per_computer": { "type": "number" },
          "additional_standard_deduction_per_computer": { "type": "number" },
          "tax_table_income_per_computer": { "type": "number" },
          "exemption_per_computer": { "type": "number" },
          "taxable_income": { "type": "number" },
          "taxable_income_per_computer": { "type": "number" },
          "total_positive_income_per_computer": { "type": "number" },
          "tentative_tax": { "type": "number" },
          "tentative_tax_per_computer": { "type": "number" },
          "form_8814_additional_tax": { "type": "number" },
          "tax_on_income_less_social_security_income_per_computer": {
            "type": "number"
          },
          "form_6251_alternative_minimum_tax": { "type": "number" },
          "form_6251_alternative_minimum_tax_per_computer": {
            "type": "number"
          },
          "foreign_tax_credit": { "type": "number" },
          "foreign_tax_credit_per_computer": { "type": "number" },
          "foreign_income_exclusion_per_computer": { "type": "number" },
          "foreign_income_exclusion_tax_per_computer": { "type": "number" },
          "excess_advance_premium_tax_credit_repayment_amount": {
            "type": "number"
          },
          "excess_advance_premium_tax_credit_repayment_verified_amount": {
            "type": "number"
          },
          "child_dependent_care_credit": { "type": "number" },
          "child_dependent_care_credit_per_computer": { "type": "number" },
          "credit_for_elderly_and_disabled": { "type": "number" },
          "credit_for_elderly_and_disabled_per_computer": { "type": "number" },
          "education_credit": { "type": "number" },
          "education_credit_per_computer": { "type": "number" },
          "gross_education_credit_per_computer": { "type": "number" },
          "retirement_savings_contribution_credit": { "type": "number" },
          "retirement_savings_contribution_credit_per_computer": {
            "type": "number"
          },
          "total_retirement_savings_contribution_f8880_computer": {
            "type": "number"
          },
          "primary_retirement_savings_contribution_f8880_ln6a": {
            "type": "number"
          },
          "secondary_retirement_savings_contribution_f8880_ln6b": {
            "type": "number"
          },
          "residential_clean_energy_credit": { "type": "number" },
          "residential_energy_credit_per_computer": { "type": "number" },
          "child_and_other_dependent_credit": { "type": "number" },
          "child_and_other_dependent_credit_per_computer": { "type": "number" },
          "adoption_credit_f8839": { "type": "number" },
[...]
