{
  "openapi": "3.0.1",
  "info": {
    "title": "Chart API",
    "description": "Chart Tax API offers real-time collection of verified federal and state tax records.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.trychartapi.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/records": {
      "get": {
        "description": "Returns all tax records associated with an `access_token`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Records Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Record"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/records/{id}": {
      "get": {
        "description": "List details about a given tax record.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        }
      }
    },
    "/providers": {
      "get": {
        "description": "Return details on all available tax record providers.",
        "responses": {
          "200": {
            "description": "Providers Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Provider"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          }
        ],
        "security": []
      }
    },
    "/introspect": {
      "get": {
        "description": "Read account information associated with an `access_token`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Introspect Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Introspection"
                }
              }
            }
          }
        }
      }
    },
    "/disconnect": {
      "post": {
        "description": "Disconnect one or more `access_token`s from your application.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartAPIVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnect Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disconnect"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Disconnect": {
        "type": "object",
        "properties": {
          "status": {
            "description": "If the request is successful, Chart will return “success” (HTTP 200 status).",
            "type": "string",
            "example": "success"
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The Chart UUID assigned to this tax record.",
            "type": "string",
            "example": "clt0szoxp0001p82z45ufj6t4"
          },
          "name": {
            "description": "The account name retrieved from tax record provider.",
            "type": "string",
            "nullable": true,
            "example": "John Doe"
          },
          "taxYear": {
            "type": "string",
            "description": "The tax year of the record.",
            "example": "2022"
          },
          "provider_id": {
            "description": "The tax record provider associated with the access_token.",
            "type": "string",
            "example": "turbotax"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "The date of the submission in ISO 8601 format in UTC.",
            "example": "2024-02-26T21:33:49.428Z"
          },
          "raw_file": {
            "type": "string",
            "description": "A pre-signed URL pointing to the raw tax file retrieved from the provider."
          }
        }
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of the tax record provider used in Connect.",
            "type": "string",
            "example": "turbotax"
          },
          "display_name": {
            "description": "The display name of the tax record provider.",
            "type": "string",
            "example": "TurboTax"
          },
          "record_types": {
            "description": "The list of record types supported on this tax record provider.",
            "type": "array",
            "items": {
              "enum": [
                "federal_tax_return",
                "state_tax_return",
                "federal_tax_transcript"
              ]
            }
          },
          "category": {
            "description": "The category of the tax record provider.",
            "enum": ["tax_prep_software", "irs", "state_tax_agency"]
          },
          "icon": {
            "description": "The url to the official icon of the tax record provider.",
            "type": "string",
            "example": "https://chart-providers.s3.us-west-1.amazonaws.com/turbotax_icon.png"
          },
          "logo": {
            "description": "The url to the official logo of the tax record provider.",
            "type": "string",
            "example": "https://chart-providers.s3.us-west-1.amazonaws.com/turbotax_logo.png"
          },
          "primary_color": {
            "description": "The hex code for the primary color of the tax record provider.",
            "type": "string",
            "example": "#236CFF"
          }
        }
      },
      "Introspection": {
        "type": "object",
        "properties": {
          "account_id": {
            "description": "The Chart UUID identifying the taxpayer for a specific submission.",
            "type": "string",
            "example": "clt0szoxp0001p82z45ufj6t4"
          },
          "client_id": {
            "description": "The client id of the application associated with the `access_token`.",
            "type": "string",
            "example": "23ca205dc62bbf3e3f940667020bbdcc"
          },
          "name": {
            "description": "The account name retrieved from tax record provider.",
            "type": "string",
            "nullable": true,
            "example": "John Doe"
          },
          "provider_id": {
            "description": "The tax record provider associated with the access_token.",
            "type": "string",
            "example": "turbotax"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Please use your Access Token"
      }
    },
    "parameters": {
      "ChartAPIVersion": {
        "name": "Chart-API-Version",
        "in": "header",

        "required": true,
        "description": "Header used to specify the version for a given API request. Current version is 2024-01-01.",
        "schema": {
          "type": "string",
          "default": "2024-01-01"
        }
      }
    }
  }
}
